@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none; /* Hide scrollbar in Firefox */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
}

@layer components {
  .nav-margins {
    @apply m-auto w-[min(970px,calc(100%-12px))];
  }
  .navlink {
    @apply font-semibold text-sm border border-transparent px-4 py-1.5 hover:bg-surface-600/20 rounded duration-200 text-text-200 hover:text-primary-600;
  }
  .margins {
    @apply m-auto w-[min(950px,calc(100%-12px))] py-20;
  }
  .primary-btn {
    @apply bg-primary-100 rounded py-1.5 px-4 font-semibold hover:bg-primary-300 duration-200 text-sm border border-primary-100 hover:border-primary-300;
  }
  .secondary-btn {
    @apply bg-transparent rounded py-1.5 px-4 font-semibold border-white border hover:bg-surface-500/20 duration-200 text-sm text-white;
  }
  .tertiary-btn {
    @apply hover:text-primary-500 duration-200 font-semibold text-sm;
  }
  .link {
    @apply flex text-primary-300 font-medium hover:after:scale-x-100 hover:text-primary-500 cursor-pointer relative after:w-full after:h-0.5 after:top-[calc(100%+2px)] after:scale-x-0 after:duration-300 after:absolute after:bg-primary-600;
  }
  .dashboard-btn {
    @apply bg-black rounded-full py-1.5 px-5 font-semibold hover:bg-primary-300 duration-200;
  }
  .icon-btn {
    @apply flex items-center rounded-md justify-center py-0.5 shadow border hover:bg-surface-300 gap-x-1;
  }
  .settings-box {
    @apply bg-surface-100 border border-surface-300 p-5 mb-5 rounded-lg shadow-lg;
  }
}

@layer base {
  html {
    @apply overflow-y-scroll overflow-x-hidden bg-surface-100 text-text-100;
  }

  h1 {
    @apply text-text-100 text-4xl font-bold;
  }

  h2 {
    @apply text-text-100 text-3xl font-bold;
  }

  h3 {
    @apply text-text-100 text-2xl font-semibold;
  }

  h4 {
    @apply text-text-100 text-xl font-medium;
  }

  h5 {
    @apply text-text-100 text-lg font-normal;
  }

  h6 {
    @apply text-text-100 text-base font-normal;
  }

  p {
    @apply text-text-300 text-sm;
  }
}
